
 <%= for q<-@query  do %>
    
     <%= q.id  %>

    <% end %>












<!-- <% counter = 1 %>
        <%= for _ <- [",","list", "with", "data"] do %>
            <tr>
                <td><%= counter %></td>
            </tr>
            <% counter = counter + 1 %>
        <% end %>
 -->    
